:root {
  --main-dark-text-color: #303030;
  --secondary-dark-text-color: #555555;
  --main-light-text-color: #ffffff;
  --secondary-light-text-color: #9da4bd;
  --accent-color: #ff6c00;
  --hero-gradient: rgba(25, 28, 38, 0.2);
  --services-gradient: rgba(17, 19, 25, 0.8);
  --contacts-gradient: rgba(25, 28, 38, 0.85);
  --element-gap: 30px;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  color: var(--slate);
  background-color: var(--white);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

  color: var(--secondary-dark-text-color);
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  cursor: pointer;
  transition: color var(--transition), background var(--transition);
}

.btn:is(:hover, :focus) {
  color: var(--main-light-text-color);
  background: var(--accent-color);
}

.container {
  padding: 0 15px;
  max-width: 100%;

  /* outline: 1px solid tomato; */
}

/**----------------------- Media Query -----------------------*/

@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 15px;
    max-width: 1200px;
  }
}

/**---------------- Header ----------------*/

.header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 1200px;
  margin-top: 32px;
}

.header-logo {
  fill: var(--main-dark-text-color);

  transition: fill var(--transition);
}

.header-logo:is(:hover, :focus) {
  fill: var(--accent-color);
}

.header-nav {
  margin-left: 100px;
}

.header-list {
  display: flex;
  gap: var(--element-gap);
}

.header-link {
  padding: 20px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--main-light-text-color);
  transition: color var(--transition);
}

.header-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 43px;
}

.header-tel {
  padding: 20px 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-light-text-color);
  transition: color var(--transition);
}

.header-tel:is(:hover, :focus) {
  color: var(--accent-color);
}

.header-btn {
  padding: 12px 20px;

  color: var(--main-light-text-color);
}

/**---------------- Hero ----------------*/

.hero {
  padding: 272px 0 208px 100px;

  background-color: var(--main-dark-text-color);
  background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(./../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-list {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg);
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--main-dark-text-color);
  transition: color var(--transition);
}

.hero-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-top: 20px;

  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  color: var(--main-light-text-color);
}

.hero-bottom-text {
  margin-top: 20px;
  max-width: 360px;

  color: var(--secondary-light-text-color);
}

/**---------------- About ----------------*/

.about {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.about-list {
  display: flex;
  gap: var(--element-gap);
}

.about-content-wrapper {
  margin-left: 30px;
  max-width: 470px;
}

.about-top-text {
  color: var(--main-dark-text-color);
}

.about-title {
  margin-top: 20px;

  color: var(--main-dark-text-color);
}

.about-bottom-text {
  margin-top: 20px;

  color: var(--secondary-dark-text-color);
}

.about-text {
  margin-top: 20px;

  line-height: 1.86;
  letter-spacing: 0.02em;
}

.about-btn {
  margin-top: 42px;
  padding: 12px 20px;
  color: var(--main-dark-text-color);
}

/**---------------- Services ----------------*/

.services {
  background-color: #111319;
  background-image: linear-gradient(var(--services-gradient), var(--services-gradient)), url(./../images/services.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services-wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
}

.services-top-text {
  color: rgba(157, 164, 189, 0.6);
}

.services-title {
  color: var(--main-light-text-color);
}

.services-list-wrapper {
  margin-top: 44px;
  display: flex;
  justify-content: center;
  gap: var(--element-gap);
}

.services-list-left {
  padding: 30px 20px;
  width: 570px;

  background-color: rgba(15, 15, 20, 0.5);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.services-list-right {
  padding: 30px 20px;
  width: 570px;

  background-color: rgba(15, 15, 20, 0.5);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.services-item {
  display: flex;
  justify-content: space-between;
}

.services-item:not(:first-child) {
  margin-top: 20px;
}

.service-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-light-text-color);
}

.services-btn {
  display: block;
  margin: 0 auto;
  margin-top: 44px;
  padding: 12px 20px;

  color: var(--main-light-text-color);
}

/**---------------- Benefits ----------------*/

.benefits {
  padding: 120px 67px;
  display: flex;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  max-width: 380px;
}

.benefits-item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;

  text-align: center;

  background-color: #f7f7f7;
}

.benefits-item .count {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;

  color: var(--main-dark-text-color);
}

.benefits-item .count::after {
  position: absolute;
  top: 7px;
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;

  color: var(--accent-color);
}

.benefits-item-text {
  margin-top: 6px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  color: var(--main-dark-text-color);
}

.benefits-item:nth-child(2n) {
  margin-top: 46px;
}

.benefits-content-wrapper {
  margin-left: 130px;
}

.benefits-top-text {
  color: var(--main-dark-text-color);
}

.benefits-title {
  margin-top: 20px;
  color: var(--main-dark-text-color);
}

.benefits-bottom-text {
  margin-top: 20px;
  color: var(--secondary-dark-text-color);
}

.barbers-social-list {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.barbers-social-item {
  position: relative;
  display: flex;
}

.barbers-social-link {
  width: 44px;
  height: 44px;

  background-color: white;
  fill: var(--main-dark-text-color);
  border-radius: 50%;

  transition: fill var(--transition);
}

.barbers-social-link:is(:hover, :focus) {
  fill: var(--accent-color);
}

.barbers-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**---------------- Barbers ----------------*/

.barbers {
  background-color: #f7f7f7;
}

.barbers-wrapper {
  padding-top: 120px;
  padding-bottom: 120px;
}

.barbers-top-text {
  color: var(--main-dark-text-color);
}

.barbers-title {
  margin-top: 20px;

  color: var(--main-dark-text-color);
}

.barbers-list {
  margin-top: 44px;
  display: flex;
  gap: var(--element-gap);
}

.barbers-item-title {
  margin-top: 30px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--main-dark-text-color);
}

.barbers-item-text {
  margin-top: 8px;

  line-height: 1.36;
  letter-spacing: 0.02em;
  text-align: center;

  color: var(--accent-color);
}

/**---------------- Gallery ----------------*/

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery-list {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}
.gallery-top-text {
  color: var(--main-dark-text-color);
}

/*---------------- Booking ----------------*/

.booking {
  padding-top: 130px;
  padding-bottom: 183px;
  background: #191c26;
}

.booking-title {
  color: var(--main-light-text-color);
}

/*---------------- Contacts ----------------*/

.contacts {
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;

  background-image: linear-gradient(var(--contacts-gradient), var(--contacts-gradient)),
    url(./../images/contacts-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contacts-title {
  color: var(--main-light-text-color);
}

.contacts-address {
  margin-top: 40px;
}

.contacts-address-item:not(:first-child) {
  margin-top: 20px;
}

.contacts-address-link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-light-text-color);
}

.address {
  font-weight: 700;
}

.email {
  text-decoration-line: underline;
}

.contacts-time-title {
  margin-top: 70px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;

  color: var(--main-light-text-color);
}

.contacts-time-text {
  margin-top: 20px;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--secondary-light-text-color);
}

/*---------------- Footer ----------------*/

.footer {
  background-color: #f7f7f7;
}

.footer-wrapper {
  display: flex;
  align-items: center;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-light-text-color);
}

.footer-list {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.footer-link {
  display: block;
  padding: 56px 0;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--main-dark-text-color);

  transition: color var(--transition);
}

.footer-link:is(:hover, :focus) {
  color: var(--accent-color);
}
